{% extends "common/base.side.html" %}

{% block title %}
    操作日志记录
{% endblock %}

{% block rcontent %}
    <table class="table table-hover table-striped   table-condensed">
        <tr>
            <th style='text-align: center;'>操作类型</th>
            <th style='text-align: center;'>操作人</th>
            <th style='text-align: center;'>操作时间</th>
            <th style='text-align: center;'>操作日志</th>
        </tr>

        {% for i in lPage %}
            <tr style="vertical-align: middle;text-align: center;font-size: 13px;">
                <td>{{ i.mode }} </td>
                <td>{{ i.username }} </td>
                <td>{{ i.time }} </td>
                <td>{{ i.note }} </td>
            </tr>
        {% endfor %}

    </table>

    {% include "common/paginator.html" %}
{% endblock %}
