{% extends "common/base.side.html" %}

{% block title %}
    科达配置管理平台
{% endblock %}

{% block rcontent %}
    <form class="form-horizontal" role="form" action={% url "changepasswordurl" %} method="POST" >
    {% csrf_token %}

            <div class="form-group">
                <label class="control-label col-md-1">姓 名</label>
                <div class="col-md-3">
                    {{request.user.username}}
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-1">邮 箱</label>
                <div class="col-md-3">
                    {{request.user.email}}
                </div>
            </div>

        {% for item in form %}
            <div class="form-group">
                <label class="control-label col-md-1">{{item.label}}</label>
                <div class="col-md-3">
                    {{item}}
                </div>
                <div class="col-md-offset-1 col-md-10">
                    {{item.errors}}
                </div>
            </div>
        {% endfor %}

        <div class="form-group">
            <div class="col-md-offset-1 col-md-10">
                <button type="submit" class="btn btn-danger btn-sm">修 改</button>
            <div>
        </div>
    </form>
{% endblock %}
