{% extends "common/base.side.html" %}

{% block title %}
    服务器管理
{% endblock %}

{% block rcontent %}
    <div class="btn-toolbar">
        <div class="btn-group">
            {% url "addserverurl" as theaddserverurl %}
            <a class="btn btn-default {%if request.path = theaddserverurl%} active {%endif%}" href={{ theaddserverurl }}><span class="glyphicon glyphicon-edit"></span>新建</a>
            {% url "listserverurl" as thelistserverurl %}
            <a class="btn btn-default {%if request.path = thelistserverurl%} active {%endif%}" href={{ thelistserverurl }}><span class="glyphicon glyphicon-list"></span>服务器列表</a>
        </div>
    </div>

    <hr/>
    <div style="float:right">
    <form class="form-search" role="form" action={% url "searchserverurl" %} method="GET"  >
    {% csrf_token %}
               <label for="q"></label>
               <input class="input-medium search-query" placeholder="关键字" type='text' name="q" />
              <!-- <input  type="image" src="/static/images/find3.png" height="18px" /> -->
              <!-- <button class='btn' type='submit'>
                   搜索</button> -->
              <input type="submit"  value="查找" >
               </form>
    </div>
    <table class="table table-hover table-striped   table-condensed">
        <tr>
            <th style='text-align: center;'>S</th>
            <th style='text-align: center;'>服务器IP</th>
            <th style='text-align: center;'>登录名</th>
            <th style='text-align: center;'>服务器类型</th>
            <th style='text-align: center;'>服务器用途</th>
            <th style='text-align: center;'>操作</th>
        </tr>

        {% for i in s %}
            <tr style="vertical-align: middle;text-align: center;font-size: 13px;">
                <td><img src="/static/images/computer.png" height="20px"></td>
                <td>{{ i.ip }} </td>
                <td>{{ i.logname|default:"----" }} </td>
                <td>{{ i.servertype }} </td>
                <td>{{ i.serveruse }} </td>

                <td>
                    <a href={% url "editserverurl" i.id %} onclick="return confirm('确认编辑吗？？')"><span class="glyphicon glyphicon-edit btn-xs"></span></a>
                    <a href={% url "deleteserverurl" i.id %} onclick="return confirm('确认删除吗？？')"><span class="glyphicon glyphicon-trash btn-xs"></span></a>
                </td>
            </tr>
        {% endfor %}

    </table>

    {% include "common/paginator.html" %}
{% endblock %}
