{% extends "common/base.side.html" %}

{% block title %}
    服务器管理
{% endblock %}

{% block rcontent %}
    <table class="table table-hover table-striped  table-bordered table-condensed">
        <tr>
            <th>S</th>
            <th>服务器IP</th>
            <th>登录名</th>
            <th>服务器类型</th>
            <th>CPU位宽</th>
            <th>服务器用途</th>
            <th>备注</th>
            <th>操作</th>
        </tr>

        {% for i in lPage %}
            <tr style="font-size: 13px;">
                <td><img src="/static/images/computer.png" height="20px"></td>
                <td>{{ i.ip }} </td>
                <td>{{ i.logname|default:"----" }} </td>
                <td>{{ i.servertype }} </td>
                <td>{{ i.bitwide|default:"----"  }} </td>
                <td>{{ i.serveruse }} </td>
                <td>{{ i.note  }} </td>

                <td>
                    <a href={% url "editserverurl" i.id %} onclick="return confirm('确认编辑吗？？')"><span class="glyphicon glyphicon-edit btn-xs"></span></a>
                    <a href={% url "deleteserverurl" i.id %} onclick="return confirm('确认删除吗？？')"><span class="glyphicon glyphicon-trash btn-xs"></span></a>
                </td>
            </tr>
        {% endfor %}

    </table>

    {% include "common/paginator.html" %}
{% endblock %}
