{% extends "common/base.nav.html" %}

{% block content %}
    <div class="container" style="width:95%">
        <div class="row">


            <div class="col-md-2">
                {% if user.is_authenticated %}
                    <div class="panel-group" id="accordion">

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="collapsed"><span class="glyphicon glyphicon-list-alt btn-xs"></span>工作台</a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse {% if '/' = request.path %} in {% endif %}">
                                <div class="panel-body">
                                    <table class="table">
                                        <tbody>
                                            <tr><td><span class="glyphicon glyphicon-tree-conifer btn-xs"></span><a href={% url "listtodourl" %}>我的待办</a></td></tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>


                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseEight" class="collapsed"><span class="glyphicon glyphicon-list-alt btn-xs"></span>我的申请</a>
                                </h4>
                            </div>
                            <div id="collapseEight" class="panel-collapse collapse {% if 'myapply' = request.path %} in {% endif %}">
                                <div class="panel-body">
                                    <table class="table">
                                        <tbody>
                                            <tr><td><span class="glyphicon glyphicon-tree-conifer btn-xs"></span><a href={% url "listmyapplyurl" %}>代码申请</a></td></tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseNine" class="collapsed"><span class="glyphicon glyphicon-list-alt btn-xs"></span>申  请</a>
                                </h4>
                            </div>
                            <div id="collapseNine" class="panel-collapse collapse {% if 'apply' = request.path %} in {% endif %}">
                                <div class="panel-body">
                                    <table class="table">
                                        <tbody>
                                            <tr><td><span class="glyphicon glyphicon-tree-conifer btn-xs"></span><a href={% url "applygiturl" %}>代码权限</a></td></tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseEleven" class="collapsed"><span class="glyphicon glyphicon-list-alt btn-xs"></span>公共信息</a>
                                </h4>
                            </div>
                            <div id="collapseEleven" class="panel-collapse collapse {% if 'info' = request.path %} in {% endif %}">
                                <div class="panel-body">
                                    <table class="table">
                                        <tbody>
                                            <tr><td><span class="glyphicon glyphicon-tree-conifer btn-xs"></span><a href={% url "sysrepoinfo" %}>系统部信息</a></td></tr>
                                            <tr><td><span class="glyphicon glyphicon-tree-conifer btn-xs"></span><a href={% url "choosejoburl" %}>编译信息</a></td></tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour" class="collapsed"><span class="glyphicon glyphicon-list-alt btn-xs"></span>系统管理</a>
                                </h4>
                            </div>
                            <div id="collapseFour" class="panel-collapse collapse {% if 'accounts' in request.path %} in {% endif %}">
                                <div class="panel-body">
                                    <table class="table">
                                        <tbody>
                                            <tr><td><span class="glyphicon glyphicon-tree-conifer btn-xs"></span><a href={% url "listuserurl" %}>用户管理</a></td></tr>
                                            <tr><td><span class="glyphicon glyphicon-tree-conifer btn-xs"></span><a href={% url "listroleurl" %}>角色管理</a></td></tr>
                                            <tr><td><span class="glyphicon glyphicon-tree-conifer btn-xs"></span><a href={% url "listpermissionurl" %}>权限管理</a></td></tr>
                                            <tr><td><span class="glyphicon glyphicon-tree-conifer btn-xs"></span><a href={% url "listdepturl" %}>部门管理</a></td></tr>
                                            <tr><td><span class="glyphicon glyphicon-tree-conifer btn-xs"></span><a href={% url "listserverurl" %}>服务器管理</a></td></tr>
                                            <tr><td><span class="glyphicon glyphicon-tree-conifer btn-xs"></span><a href={% url "listlogsurl" %}>操作日志记录</a></td></tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>


                    </div>
                {% endif %}
            </div>

            <!-- 内容区域 -->
            <div class="col-md-10">
                {% block rcontent %}{% endblock %}
            </div>

        </div>
    </div>
{% endblock %}
