{% extends "common/base.side.html" %}

{% block title %}
    申请Git权限
{% endblock %}

{% block head %}
    <script src="/static/js/jquery.bootstrap-duallistbox.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-duallistbox.css">
{% endblock %}

{% block rcontent %}
    <div class="btn-toolbar">
        <div class="btn-group">
            {% url "applygiturl" as theapplygiturl %}
            <a class="btn btn-default {%if request.path = theapplygiturl%} active {%endif%}" href={{ theapplygiturl }}>Git</a>
        </div>
    </div>

    <hr/>

    <form class="form-horizontal" role="form" action={% url "applygiturl" %} method="POST" >
    {% csrf_token %}
      {% for item in form %}
          <div  class="form-group">
              <label  class="control-label col-md-1">{{item.label}}</label>
              <div id={{item.label}} class="col-md-3">
                  {{item}}
              </div>
              <div class="col-md-offset-1 col-md-10">
                  {{item.errors}}
              </div>
          </div>
      {% endfor %}
      <div class="form-group">
          <div class="col-md-offset-1 col-md-10">
              <button type="submit" class="btn btn-danger btn-sm">提 交</button>
          <div>
      </div>

   </form>

<script src="http://apps.bdimg.com/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
    $(document).ready(function(){
      $('#id_serverIp').click(function(){
          var ips=$("#id_serverIp").val();
          $.get("/apply/apply/ajax_dict/",{'ips':ips}, function(ret){
              $('#id_gitName').html(ret);
          })
      })
    });
</script>

{% endblock %}
